/*CSS general de elementos*/

body {
    background-color: #FDF8F2;
    color: #667F61;
    font: 400 20px "TikTok Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playwrite DE Grund', cursive;
    font-weight: 400;
    text-align: center;
    line-height: 2;
}

h1 {
    font-size: 30px;
}

h2 {
    color: #667F61;
    font-size: 42px;
}

h3 {
    color: #667F61;
    font-size: 26px;
}

a {
    font-family: 'Playwrite DE Grund', cursive;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}
a:any-link {
    color: white;
}
a:-webkit-any-link {
    color: white;
}
a:-moz-any-link {
    color: white;
}
a:hover {
    color: #343434;
}

nav {
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: rgba(14, 40, 50, 0.2);
    backdrop-filter: blur(8px); /* Background blur effect (more pixels = more blur) */
    -webkit-backdrop-filter: blur(8px); /* For some old web browser compatibility */
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1000;
}

nav ul li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

header {
    background-image: 
        linear-gradient(
            to bottom, /* From top to down */
            rgba(0, 0, 0, 0.4) 0%, /* Start: Transparent/Dark on the image */
            rgba(0, 0, 0, 0.2) 85%, /* Middle point */
            #FDF8F2 100% /* Final: Body background color */
        ),
        url(../images/header.webp); /* Background image */
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center top;
    min-height: 750px;
    position: relative; /* An element with position: absolute; is positioned relative to its nearest parent that has a position value other than static */
    overflow: visible; /* Allows child elements to overflow without being clipped */
    justify-items: center;
}

/*CSS IDs y Clases*/

#menu-logo {
    vertical-align: middle;
}

#header-card {
    position: absolute;
    display: flex;
    gap: 20px;
    color: white;
    background-color: rgba(14, 40, 50, 0.2);
    backdrop-filter: blur(8px); /* Background blur effect (more pixels = more blur) */
    -webkit-backdrop-filter: blur(8px); /* For some old web browser compatibility */
    border-radius: 30px;
    width: 800px;
    height: 600px;
    bottom: -250px;
    padding: 30px;
    align-items: center;
    align-content: center;
}

.header-card-content {
    flex: 1;
    text-align: center;
}

.header-card-content h1 {
    padding-bottom: 50px;
}

.header-card-image {
    flex: 1;
}

.header-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 15px 15px 0;
}

#fates {
    justify-items: center;
    padding-top: 100px;
    margin-top: 400px;
}

#fates h2 {
    text-align: center;
    width: 50%;
}

#fates h3 {
    text-align: center;
}

.grid-fates {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-content: space-around;
}

.destiny-card {
    width: 400px;
    height: 200px;

    position: relative;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;

    border-radius: 15px;
    justify-content: center;
    align-content: center;
    font-size: 32px;
    
    z-index: 2;
}

.destiny-card::before {
content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.4s ease;

    z-index: 1;
}

.destiny-card:hover::before {
  opacity: 0;
}

.destiny-card h4 {
    position: relative;
    z-index: 2;
    color: white;
}